
ul, li {
    list-style: none;
  }

.somelye {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: auto;
}
.somelye__title {
    font-size: 36px;
}

.somelye__size {
    font-size: 30px;
    color: black;
}