.form__control {
    display: flex;
    margin-top: 25px;
}

.form__checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}


.form__checkbox {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        z-index: 2;
        pointer-events: none;
}
    
.form__checkbox:checked + .form__checkbox-marker::after {
        opacity: 1;
}


.form__label {
    /*width: 109px;*/
    height: 28px;
    /* margin-top: 10px;*/
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #797979;
    flex: 0 0 12%;  
    padding-right: 16px;
}

.form__label-checkbox {
        flex:auto;
        height: 28px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #797979; 
    
}

.users_agreement {
    height: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #EDD603;

   &:hover {
       border-bottom: 1px solid #EDD603;
   }
}


.form__checkbox-marker {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    background: #FFFFFF;
    border: 2px solid #8D8B8B;
    box-sizing: border-box;
    position: relative;
    
       
        &::after{
            content: '';
            width: 20px;
            height: 20px;
            background: black;
            opacity: 0;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
}

